# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# Configuration file for LiteIDE
liteide.prj

# IDE/editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Vendor directory
vendor/

# Dependency directories
Godeps/

# Test output
convert/test_output/
